// COLORS
$color-primary: #20415f;
$color-primary-light: #4e6c8c;
$color-primary-dark: #001b35;
$color-text: #f2eade;

$color-secondary: #ba5465;
$color-secondary-light: #ef8393;
$color-secondary-dark: #86253b;
// $color-secondary-text: #f8f5ea;


